.rs {
  margin-inline-start: 610px;
  margin-top: 5px;
}

header {
  margin-bottom: -8px;
}

footer {
  margin-top: 3%;
  background-color: black;
}

.row {
  padding-top: 3%;
  padding-bottom: 0;
}

.contactBlock {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 3.5%;
  background-color: cornsilk;
}

.contentContainer {
  padding-bottom: 10px;
  background-color: cornsilk;
  margin-top: 3%;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.indexPadding {
  padding-left: 15px;
  padding-right: 15px;
}

.aligner {
  margin-right: 17px;
}

.bio {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: gray;
}

.links {
  font-size: larger;
}

.backPhoto {
  background-color: #28334aff;
}

#navNew {
  background-color: #f65058ff;
  color: #fbde44ff;
}

#navNew:hover {
  background-color: #ffe77aff;
  color: #f65058ff;
}

.resume {
  font-size: 24px;
}
